* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 30px;
}


.grid-container {
    display: grid;    
}


.top-sellers {
    padding-top: 5rem;
}

    .top-sellers .card {
        position: relative;
        overflow: hidden;
        align-items: center;
        width: 100%;
        height: 100%;
        
    }

        .top-sellers .card img {
            width: 100%;
            height: 100%;
        }

    .top-sellers .grid-item {
        height: 100%;
    }

        .top-sellers #grid-item-1 {
            grid-row: 1/3;
            grid-column: 1/2;
        }

        .top-sellers #grid-item-1 img {
                height: 700px;
            }


        .top-sellers .grid-item-2 {
            grid-row: 1/2;
            grid-column: 3/4;
            height: 345px;
        }

        .top-sellers .grid-item-3 {
            grid-row: 2/3;
            grid-column: 3/4;
            height: 345px;
        }

        .top-sellers .card .card-body {
            position: absolute;
            padding: 1rem;
            bottom: 0;
            height: 13%;
            width: 100%;
            color: var(--color-white);
            z-index: 1;
            transition: 0.3s ease-in-out;
            font-size: 1rem;
        }

            .top-sellers .card:hover .card-body {
                height: 55%;
            }

            .top-sellers .card .card-body h2 {
                font-size: 1.125rem;
                margin-bottom: 1.3rem;
                transition: 0.3s ease-in-out;
                font-weight: var(--font-weight-regular);
            }

                .top-sellers .card:hover .card-body h2 {
                    margin-bottom: 0;
                }



            .top-sellers .card .card-body button {
                background-color: transparent;
                color: var(--color-white);
                border: 1px solid var(--color-white);
                font-size: 0.875rem;
                padding-left: 0.9rem;
                padding-right: 0.9rem;
                margin: 0.5rem 0;
                transition: 0.3s ease-in-out;
            }

            .top-sellers .card .card-body .card-old-price {
                text-decoration: line-through;
                margin-bottom: 0.5rem;
            }

            .top-sellers .card .card-body .card-discount-price {
                color: var(--color-theme);
                font-weight: var(--font-weight-medium);
                font-size: 1.5rem;
                margin: 0;
            }

            .top-sellers .card .card-body .stars {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .top-sellers .card .card-body .text-theme {
                margin-right: 6rem;
            }


            .top-sellers .card .card-background {
                position: absolute;
                bottom: 0;
                height: 10%;
                width: 100%;
                background-color: var(--color-theme-dark);
                opacity: 0.90;
                transition: height 0.3s ease-in-out;
            }

                .top-sellers .card:hover .card-background {
                    height: 100%;
                }

            
    .top-sellers .card .card-menu {
        position: absolute;
        z-index: 1;
        top: 121%;
        right: 1rem;
        list-style: none;
        margin: auto;
        padding: 0.8rem;
        font-size: 1.125rem;
        border-radius: var(--border-radius-medium);
        background-color: var(--color-white);
        transition: top 0.3s ease-in-out;
    }

        .top-sellers .card:hover .card-menu {
            top: 20px;
        }

            .top-sellers .card .card-menu li { 
                margin-top: 0.2rem;
                margin-bottom: 0.2rem;
                font-size: 1.1em;

            }

                .top-sellers .card .card-menu li a { 
                    color: var(--color-gray-0);
                }

                    .top-sellers .card .card-menu li a:hover { 
                        color: var(--color-theme);
                    }