@media (max-width: 577px) {
    .webshop-info-grid {
        padding-top: 3rem 0;
    }
    .webshop-info-grid .container-fluid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
    .webshop-info-grid .info-box {
        min-width: 90%;
    }
}
@media (min-width: 578px) {
    .webshop-info-grid {
        padding-top: 3rem 0;
    }
    .webshop-info-grid .container-fluid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
    .webshop-info-grid .info-box {
        min-width: 90%;
    }
}
@media (min-width: 768px) {
    .webshop-info-grid {
        padding-top: 2rem 0;
    }
    .webshop-info-grid .container-fluid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
    }
    .webshop-info-grid .info-box {
        min-width: 95%;
    }
}
@media (min-width: 1200px) {
    .webshop-info-grid {
        padding-top: 2rem 0;
    }
    .webshop-info-grid .container-fluid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
    }
    .webshop-info-grid .info-box {
        min-width: 95%;
    }
}